    <div class="project_panel">
      <div class="row">
        <div class="col-md-6">
          <p></p>
          <%=image_tag("IHG.png")%></br></br>
              <a href="http://ay87fx.axshare.com" target="_blank"<button class="btn btn-ihg">Axure Prototype</button></a>
              <a href="https://youtu.be/B6dHaPrZiyw" target="_blank"<button class="btn btn-ihg">Demo</button></a>
              <a href="https://drive.google.com/file/d/0B-TZYLQGy9cBMVpKMFlETzQ2TG8/view?usp=sharing" target="_blank"<button class="btn btn-ihg">Presentation</button></a>

          <p class="padding">This was a group project, myself and two classmates, in which we were assigned IHG Rewards. Given a prompt with general guidelines of what the hypothetical client desired, our team used a mixture of online survey, user testing, and our own research to achieve the final prototype.</p>


          <div class="row">
            <div class="col-md-6">
              <h3 class="ihgorange">Feature Goals</h3>
                <ul>
                  <li>Create a feature that takes advantage of location-based social media.</li>
                  <li>Increase awareness of IHG brand and rewards program.</li>
                </ul>
            </div>
            <div class="col-md-6">
              <h3 class="ihgorange">My Role</h3>
              <p class="center">For this project I wanted to focus on specific parts of the UX process that I felt needed practice. For that reason, I took the lead on surveying and user testing. During our in-person user testing, I walked the users through the app and practiced asking open questions to get valuable, usable feedback.</p>
              </br>

            </div>
          </div>

        </div>
        <div class="col-md-6">
          <p></p>
          <%=image_tag("ihgphone.png")%>
        </div>
      </div></br>

      <h3 class="ihgorange">Process</h3></br>

      <div class="row padding">
        <div class="col-md-12">
          <%=image_tag("survey.png")%>
          <h4>Initial Survey</h4>
          <p class="center padding">We began with an initial online survey using Qualtrics to help point us in the right direction. </br>We wanted the big questions answered:</br>
            Did people view rewards activity on a web app or mobile app? </br>
            What rewards programs were preferred?</br>
            If someone did use a rewards program, what would make it better, and if not, why?</br>
          </p>

        </div>
      </div></br>

      <div class="row">
        <div class="col-md-12">
          <%=image_tag("sketching.png")%>
          <h4>Feature Sketching</h4>
          <p class="center padding">Using our initial feedback, we headed to the whiteboard. Together, we each sketched out our vision and feature ideas and decided on key implementations. We pulled ideas from each other and eventually decided to send out a second survey to let users choose. In addition, we decided our design would be implemented into IHG's current rewards mobile app, since the survey revealed it as a prominent tool for users.</p>
          <%=image_tag("IHGsketches.png")%>
        </div>
      </div></br>

      <div class="row">
        <div class="col-md-12">
          <%=image_tag("survey.png")%>
          <h4> Second Survey</h4>
          <p class="center padding"> Our second survey helped reveal the most important features users wanted in a rewards app. It also pinpointed users' main issue with current rewards programs and how social media could be implemented.</p>
          <%=image_tag("IHGfeatures.png")%>
        </div>
      </div></br>

      <div class="row">
        <div class="col-md-12">
          <%=image_tag("usertests.png")%>
          <h4>Prototyping + User Testing</h4>
          <p class="center padding"> In the end, our prototype had four major iterations, each implementing user feedback. Our user testing ranged from other students to customers in the Ponce City Market food hall and employees at the Carter Center. With each round of feedback, we took what was consistent and applicable and worked on the next iteration.</p>
          <%=image_tag("IHGusertest.png")%></br>
          <%=image_tag("IHGiterations.png")%>
        </div>
      </div></br>

      <h3 class="ihgorange">Final Prototype</h3>
      <a href="https://youtu.be/B6dHaPrZiyw" target="_blank"<button class="btn btn-ihg">Demo</button></a>
      <p class="center padding"> Our final prototype centered on the idea that IHG rewards customers could perform easy, enjoyable tasks such as dining at a restaurant and sharing a picture on social media to earn small rewards and add to their overall point count. We believe IHG Adventure solves the users' main complaint which was that they could not travel enough to actually earn the current reward offerings. This made the program itself feel unreachable. Our features keep the customer interacting and engaged with the brand throughout their trip and reward them for things they most likely already do.</p>
      <p class="center padding"> For additional deliverables, please see our presentation slides
      <a href="https://drive.google.com/file/d/0B-TZYLQGy9cBMVpKMFlETzQ2TG8/view?usp=sharing" target="_blank"<button class="btn btn-ihg">Presentation</button></a>
      </p>
    </div>