    <div class="name_panel">
      <%=image_tag('kenprototype.jpg')%>

      <div class="row row-mox">
        <div class="col-md-4">
          <h3 class="moxieorange">Challenge</h3>
          <p>Rethink the retail experience and create a new one compatible with all currently available VR headsets and the devices they support</p>
        </div>
        <div class="col-md-4 home-column">
          <a href="https://drive.google.com/file/d/0B-TZYLQGy9cBYnhRNXFodnpnUGM/view?usp=sharing" target="_blank"<button class="btn btn-mox">Presentation</button></a>
          <a href="https://youtu.be/Go1FAxBo2So?t=17m21s" target="_blank"<button class="btn btn-mox">Prototype Video</button></a>
        </div>
        <div class="col-md-4">
          <h3 class="moxieorange">Goals</h3>
          <p>Create a virtual reality retail experience that is not limited by physical or online retail, promoting and selling a next generation smart phone.</p>
        </div>
      </div>


      <div>
        <%=image_tag('moxielogo2.png')%>

      </div>

      <%=image_tag('divider.png')%>

      <div>
        <h3 class="moxieorange">Virtual Reality Research</h3>
        <%=image_tag('vrresearch.png')%>
        <div class="row">
          <div class="col-md-6">
           <p class="row-mox">We worked with the Future Experiences team to research what is possible with current VR technology. This allowed us to imagine, explore, and design what is possible when applying VR to the experience of purchasing a smart phone.</p>
          </div>
          <div class="col-md-6">
            <p class="row-mox">We began by visiting Moxie's future experience lab to try VR technology out for ourselves. We came away noting the natural tendency to use swipe motions and the frustration of being in virtual reality without being able to see or use your own hands.</p>
          </div>
        </div>
      </div>

      <%=image_tag('divider.png')%>

      <div>
      <h3 class="moxieorange">Sketches + Ideation</h3>
      <%=image_tag('vrsketches.png')%>
      <p class="row-mox">Just a few of my sketches from our week-long sketch and ideation sessions.</p>
        <div class="row">
          <div class="col-md-6">
            <p class="row-mox">With a challenge as vague as designing an experience with few boundaries and the instruction to let our imaginations run wild, it was important to spend plenty of time together and individually sketching as many ideas as possible to be sure we were taking advantage of the technology.</p>
          </div>
          <div class="col-md-6">
           <p class="row-mox"> What was unique about this project was the absolute necessity to give ourselves boundaries and guidelines in order to accomplish our goal within the three-week timeline. It could have been easy to drift and lose focus with the few boundaries we were given by the client, but our ability to work together to create a project plan and move through tasks helped us stay on track and ultimately surprise our client.</p>
         </div>
        </div>
      </div>

      <%=image_tag('divider.png')%>

      <div>
        <h3 class="moxieorange">Prototyping</h3>
        <div class="row">
          <div class="col-md-4">
            <p class="row-mox">Solving the challenge of creating a virtual reality prototype was our first major hurdle.</p>
          </div>
          <div class="col-md-4">
            <p class="row-mox">We reached out to VR companies and teams for advice on how to rapid prototype for VR, and were unable to find a solution that didn't involve coding in Unity and spending at least a few weeks actually building a product.<p>
          </div>
          <div class="col-md-4">
            <p class="row-mox">Our team saw this as an opportunity to get our craft helmets on and implement some efficiency into the VR design process.</p>
          </div>
        </div>

        <%=image_tag('vrpaperprototype.png')%>
        <%=image_tag('bodystorming.gif')%>
        <div class="row">
          <div class="col-md-6">
            <p class="row-mox">Instead of weeks, we spent one day sketching on giant sheets of paper and tables. Each of our VR scenes were drawn across four sheets of paper and attached to upright tables.</p>
          </div>
          <div class="col-md-6">
            <p class="row-mox">During user testing, the user was presented each scene by flipping it over the table to land infront of them. As they made decisions and we noted their behavior with the options presented to them, we were able to iterate with simple, quick sketches and reordering scenes.</p>
          </div>
        </div>

      </div>

      <%=image_tag('divider.png')%></br>


      <div>
        <p class="row-mox">To view the full digital prototype filmed during out presentation to Moxie, please click <a href="https://youtu.be/Go1FAxBo2So?t=17m21s" target="_blank"<button class="btn btn-mox">Prototype Video</button></a></p>
      </div></br>
    </div>